// _base.scss
/* Border box */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: $font-stack;
    color: $text;
    background-color: $w;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    background-color: $w;
}