// _vars.scss

/* fonts */

$font-stack: Georgia, sans-serif;
$font-main: 'Lato', sans-serif !important;

/* colors */
$text: #666;
$w: #fff;
$back: #f7f7f7;
$gold: #ac9f83;
$gold-sutil: #d7ccb5;
$gold-light: #cec1a2;
$black: #2a2a2a;